.box {
  background-color: black;
  width: 100%;
  color: white;
  padding: 35px 30px;
  box-sizing: border-box;
}

.boxinner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin-left: 215px;
  gap: 20px;
}

.box1, .box2, .box3, .box4 {
  flex: 1 1 220px;
  min-width: 220px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  background-color: rgb(72, 67, 67);
  box-sizing: border-box;
  border-radius: 5px;
}

.text .title {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.text .subtitle {
  margin: 0;
  font-size: 14px;
}

/* ✅ Mobile View  */
@media (max-width: 768px) {
  .box {
    padding: 10px 10px;
    height: 290px;
  }

  .boxinner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    margin-left: 0 !important;
    padding: 0;

  }

  .box1, .box2, .box3, .box4 {
    background-color: rgb(72, 67, 67);
    padding: 12px 5px;
    flex-direction: column; /* Icon + text stacked */
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 6px;
    min-width: auto;
    height: 130px;
  }

  .icon {
    width: 26px;
    height: 26px;
  }

  .text .title {
    font-size: 14px;
  }

  .text .subtitle {
    font-size: 12px;
  }
}
