.boxs {
  background-color: black;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.boxs::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  /* same as .boxs background-color */
}

.boxinners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
}

.boxinners p {
  color: white;
  font-size: 22px;
  margin-left: 70px;
}

.btn button {
  background-color: #0abe34;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: -350px;
}

.btn button:hover {
  background-color: rgb(61, 61, 198);
  color: black;
}

.boxss {
  height: 50px;
  background-color: rgb(214, 210, 210);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.boxss p {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}


@media (max-width: 768px) {
  .boxinners {
    flex-direction: column;
    text-align: center;
  }

  .btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .boxinners p {
    font-size: 18px;
    margin-left: 0px;
  }

  .btn button {
    font-size: 14px;
    width: auto;
    margin-left: 15px;
  }

  .boxss p {
    font-size: 16px;
    font-weight: 600;
  }
}