*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #fff;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.header .icon {
  margin-left: 1rem;
}